.item {
    width: 250px;
    height: 345px;
    display: inline-block;
    border: 1px solid #f1f1f1;
    padding: 0 10px 10px 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: white;
}

h5, h6 {
    display: inline-block;
}

h5 {
    color: #f55d2c;
}

h6 {
    color: #8d8d8d;
    margin-left: 20px;
}

.quantityPicker, .btn-add {
    display: inline-block;
}

.btn-add {
    margin-left: 30px;
}

.quantity-value {
    width: 20px;
}
.item img {
    height: 230px;
    width: 230px;
}
